#flagging_container {
/*   float: right; */
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

ul.button-boxes  {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

ul.button-boxes li {
  display: inline;
  padding: 5px;
  margin: 2px;
  background-color: #eee;
  border: 1px solid #888;
}


ul.button-boxes li a {
  color: #008;
  font-weight: bold;
}