@import url("tabs.css");

/* Three Column CSS layout from http://www.cssplay.co.uk/layouts/3cols2.html */

a:link,active,visited {
  color: #000066;
}

html, body {
  margin:0px;
  padding:0px;
  font-family:verdana;
  font-size:12px;
}

#header {
  display:block; 
  width: 100%;
  height: 125px;
  background: #85A6E4;
  /* background: #95b5d5; */ /* Old Color */
  border-bottom: 1px solid #007; /* for CSS tabs*/
}

div#search_container {
  position: absolute;
  top: 30px;
  right: 50px;
}

.headerFormTextInput {
  position: relative;
 /* position: absolute;
  top: 30px;
  right: 50px; */
  font-size: 75%;
  color: #FFFFFF;
  background: #7595c5;
  border: 1px solid white;
}

div#login_container {
    position: absolute;
    top: 50px;
    right: 50px;
}

div#loggedInAsText {
  color: #FFFFFF;
}

/* Make header submit buttons look like links */
.headerSubmitLink {
  color: #FFFFFF;
  font-size: small;
  font-weight: bold;
  background-color: #85A6E4;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.headerSubmitLink:hover {
  border: 1px inset;
}

#header-text {
  display: none;
}

#main_content {
  position:relative;
  display:block;
  border-left:150px solid #C8DDED; 
  border-right:150px solid #C8DDED;
/*  border-left:165px solid #C8DDED; 
  border-right:165px solid #C8DDED;*/
  background: #fff;
  overflow:visible;
}

#main_content_inner {
  display:block; 
  padding:5px;
  margin-top: 0px;
  overflow: visible;
/* IE peakaboo bugfix */
  height:1%;
}

/* IE peakaboo bugfix */
#main_content>#main_content_inner {
  height:auto;
}

#leftcol {
  float:left; 
  position:relative;
  display:inline;
  width:145px; 
  margin-left:-155px;
  padding: 0px 5px 0px 10px;
  overflow: hidden;
}

#rightcol {
  display:inline;
  float:right;
  position:relative; 
  width:145px; 
  margin-right:-160px; 
  padding: 0px 5px 0px 10px;
  overflow: hidden;
}

#centercol {
  position:relative; 
  display:block;
  height: auto;
  padding: 0px 10px 0px 10px;
  overflow: visible;
}

#footer {
  clear: both;
  text-align: center;
  padding-top: 5px;
  width: 100%;
  height: 50px;
  color: #000066;
  background: #85A6E4;
}

img.footerImage {
  vertical-align: middle;
}

img#firefoxImage {
  visibility: hidden; /* hide from non-msie */
}

/* For pages that require login */
p.please-login {
  font-size: 150%;
  color: #0000CC;
}

/* title label */
.titleLabel {
  color: #006666;
  font-weight: bold;
}

/* info lable */
.notifyLabel {
    font-weight: bold;
    color: #0000FF;
}

/* info lable */
.errorLabel {
    font-weight: bold;
    color: #CC0000;
}

.b {
  font-weight: bold;
}

.i {
    font-style: italic;
}

.bi {
  font-weight: bold;
  font-style: italic;
}

/* dk blue paragraph */
.dkb-para {
  color: #000066;
}

/* dk blue link */
.nb-link {
  color: #000066;
}

.red {
  color: red;
}

.rb {
  font-weight: bold;
  color: red;
}

/* title label link */
.titleLabel a {
  color: #006666;
  font-weight: bold;
}

img {
 border: none;
}

.clear {
  clear:both;
  height:1px;
  overflow:hidden;
}

em {font-weight:bold;}


